---
---
<!DOCTYPE html>
<html lang=en>
<title>Weirdcore Webring | {{page.title}}</title>
<meta charset=utf-8>
<link rel=stylesheet href={{'main.css'|relative_url}}>
<main>
    <div class="content-wrapper">
        <p style="text-align: center; padding: 5px; border: 3px solid #000000;"><a
                href="https://weirdring.netlify.app//member2/previous">&#60;&#60; back - </a><a
                href="https://weirdring.netlify.app/"> weirdring </a><a
                href="https://weirdring.netlify.app//member2/next"> - next &#62;&#62;</a></p>
        {{content}}
    </div>
</main>
<footer>
    <nav>
        <a href={{'/'|relative_url}}>Index of Site</a> - <a href={{site.github_repo_url}}>View on GitHub</a>
    </nav>
    Version 0.03
</footer>