---
---
<!DOCTYPE html>
<html lang=en>
<title>Weirdcore Webring | {{page.title}}</title>
<meta charset=utf-8>
<link rel=stylesheet href={{'main.css'|relative_url}}>
<main>
    <div class="content-wrapper">
        <p id="selector"><a
                href="https://weirdring.netlify.app//member1/previous"><img src="./weirdringL.png" style='max-width: 42px;' alt="weirdring"> </a><a
                href="https://weirdring.netlify.app/"> <img src="./weirdringbutton.jpg" style='max-width: 125px;' alt="weirdring"> </a><a
                href="https://weirdring.netlify.app//member1/next"><img src="./weirdringR.png" style='max-width: 42px;' alt="weirdring"></a></p>
        {{content}}
    </div>
</main>
<footer>
    <nav>
        <a href={{'/'|relative_url}}>Index of Site</a> - <a href={{site.github_repo_url}}>View on GitHub</a> - <a href={{'/pjBQ5RaxeZGm41YvU'|relative_url}}>Online Support</a>
    </nav>
    Version 0.04
</footer>